{% extends 'main.html' %}
{% load static %}
{% block content %}
{% include 'status.html' %}

<div class="row product-section" id="product-section">
    <div class="col-md">
        <div class="card card-body product-header">
            <h5>Products</h5>
        </div>
        <div class="card card-body product-table-card">
            <div class="table-responsive">
                <table class="table product-table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Category</th>
                            <th>Date_ordered</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>{{order.product}}</td>
                            <td>{{order.product.category}}</td>
                            <td>{{order.date_created}}</td>
                            <td>{{order.status}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}